.hero {
    padding-top: 81px;
    background-color: #F3F2E7;
}

.hero_wrapper {
    padding: 30px 0px 40px 0px;
}

.hero_title-wrap {
    width: 100%;
    max-width: 746px;
    margin: auto;
    text-align: center;
    margin-bottom: 20px;
}

.hero_text-wrap {
    width: 100%;
    max-width: 714px;
    margin: auto;
    text-align: center;
    margin-bottom: 30px;
}


.image-top-1 img {
    width: 100%;
    max-width: 102px;
}

.gallery_bot-center {
    display: flex;
    gap: 12px;
    flex-direction: column;
}


@media (max-width:991px) {
    .hero_wrapper {
        padding: 35px 0px;
    }
}